<div class="card col-sm-12 col-md-6 col-lg-4 {{ item['class'] }}">
  <div class="card-body">
    {% if 'image' in item %}
      <img class="card-img-top" src="./assets/{{ item['image'] }}" />
    {% endif %}


    <h5 class="card-title">
      {% if 'lang' in item %}
        {% for lang in ('eng', 'rus') %}
          {% if lang in item['lang'] %}
            <img src="./assets/{{ lang }}.svg" class="lang" />
          {% endif %}
        {% endfor %}
      {% endif %}
      {{ item['name'] }}
    </h5>

    {% if 'tags' in item %}
      <h6 class="card-subtitle text-muted">
        {% for tag in item['tags'] %}
          #{{ tag }}
        {% endfor %}
        </h6>
    {% endif %}

    {% if 'info' in item %}
      <p class="card-text">
        {{ item['info'] }}
      </p>
    {% endif %}

    {% if item['date'] %}
      <p>
        <i class="far fa-calendar-alt"></i>
        {{ item['date'] }}
      </p>
    {% endif %}

    {% for link in item['links'] %}
      <a href="{{ link }}" class="btn btn-light" target="_blank">
        {% for button in buttons %}
          {% if button['trigger'] in link %}
            <i class="{{ button['icon'] }}"></i>
            {{ button['text'] }}
            {% break %}
          {% endif %}
        {% endfor %}
      </a>
    {% endfor %}
  </div>
</div>
