<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Gram's projects">
    <meta name="keywords" content="developer, portfolio">
    <meta name="author" content="Gram Orsinium">
    <title>Gram's projects</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">

      <h2>Telegram channels</h2>
      <div class="row">
        {% for item in channels %}
          {% include "includes/card.html.j2" with context %}
        {% endfor %}
      </div>

      <h2>Open Source</h2>
      <div class="row">
        {% for item in open_source %}
          {% include "includes/card.html.j2" with context %}
        {% endfor %}
      </div>

      <h2>Some little projects</h2>
      <div class="row">
        {% for item in little_projects %}
          {% include "includes/card.html.j2" with context %}
        {% endfor %}
      </div>


      <h2>Pull Requests to other Open Source projects</h2>
      <div class="row">
        {% for item in pull_requests %}
          {% include "includes/card.html.j2" with context %}
        {% endfor %}
      </div>


      <h2>Presentations</h2>
      <div class="row">
        {% for item in videos %}
          {% include "includes/card.html.j2" with context %}
        {% endfor %}
      </div>

    </div>
  </body>

</html>
