<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Gram's projects">
    <meta name="keywords" content="developer, portfolio">
    <meta name="author" content="Gram Orsinium">
    <title>Gram's projects</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <style>
      .header {
        background: url('./assets/bg.jpg') center;
        background-size: cover;
        padding: 150px 0px;
        margin-bottom: 0px;
      }
      .btn {
        margin: 2px 0px;
      }

      .lang {
        display: inline;
        height: 1em;
        border: 1px #6c757d;
      }

      .card {
        padding-left: 0px;
        padding-right: 0px;
      }

      .container-fluid {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      h2 {
        margin-top: 20px;
      }
    </style>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="alert alert-light col-lg-8 col-md-12">
            <h1>Gram's projects</h1>
          </div>
        </div>
        <div class="row">
          {% for item in profiles %}
            {% include "card.html.j2" with context %}
          {% endfor %}
        </div>
      </div>
    </div>

    <ul class="nav nav-pills nav-fill bg-secondary justify-content-center">
      {% for item in anchors %}
        <li class="nav-item">
          <a class="nav-link btn-secondary" href="#{{ item['link'] }}">
            {{ item['name'] }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="container">
      <h2 id="channels">Telegram channels</h2>
      <div class="row">
        {% for item in channels %}
          {% include "card.html.j2" with context %}
        {% endfor %}
      </div>

      <h2 id="oss">Open Source</h2>
      <div class="row">
        {% for item in open_source %}
          {% include "card.html.j2" with context %}
        {% endfor %}
      </div>

      <h2 id="projects">Some little projects</h2>
      <div class="row">
        {% for item in little_projects %}
          {% include "card.html.j2" with context %}
        {% endfor %}
      </div>

      <h2 id="prs">Pull Requests to other Open Source projects</h2>
      <div class="row">
        {% for item in pull_requests %}
          {% include "card.html.j2" with context %}
        {% endfor %}
      </div>

      <h2 id="talks">Public talks</h2>
      <div class="row">
        {% for item in videos %}
          {% include "card.html.j2" with context %}
        {% endfor %}
      </div>

      <h2 id="other">Other projects</h2>
      <div class="row">
        {% for item in other %}
          {% include "card.html.j2" with context %}
        {% endfor %}
      </div>

    </div>


    <div class="container-fluid bg-dark text-white" style="margin-top: 30px">
      <div class="container">
        <h1 id="skills">Skills and technologies</h1>

        <ul class="nav nav-pills nav-fill bg-dark justify-content-center">
          {% for item in skills %}
            <li class="nav-item">
              <a class="nav-link btn-dark" href="#{{ item['name'].lower() }}">
                {{ item['name'] }}
              </a>
            </li>
          {% endfor %}
        </ul>

        {% for group in skills %}
          <h2 id="{{ group['name'].lower() }}">{{ group['name'] }}</h2>
          <div class="row">
            {% for item in group['content'] %}
              {% include "minicard.html.j2" with context %}
            {% endfor %}
          </div>
        {% endfor %}

      </div>
    </div>


    <div class="container-fluid">
      <div class="container">
        <h1 id="work">Work</h1>
        <div class="row">
          {% for item in work %}
            {% include "card.html.j2" with context %}
          {% endfor %}
        </div>
      </div>
    </div>

  </body>

</html>
