@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2h9f2s');
  src:  url('fonts/icomoon.eot?2h9f2s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2h9f2s') format('truetype'),
    url('fonts/icomoon.woff?2h9f2s') format('woff'),
    url('fonts/icomoon.svg?2h9f2s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linux:before {
  content: "\e90b";
}
.icon-docker:before {
  content: "\e909";
}
.icon-flask:before {
  content: "\e90a";
}
.icon-django:before {
  content: "\e900";
}
.icon-elasticsearch:before {
  content: "\e901";
}
.icon-mongodb:before {
  content: "\e902";
}
.icon-mysql:before {
  content: "\e903";
}
.icon-postgresql:before {
  content: "\e904";
}
.icon-redis:before {
  content: "\e905";
}
.icon-php:before {
  content: "\e906";
}
.icon-go:before {
  content: "\e907";
}
.icon-python:before {
  content: "\e908";
}
.icon-html-five:before {
  content: "\eae4";
}
