{% extends "base.html.j2" %}

{% block content %}
  <div class="container text-center">
    <h1>Page not found</h1>
    <a href="https://github.com/orsinium/orsinium.dev" target="_blank" type="button" class="btn btn-dark">
      <i class="fas fa-bug"></i>
      fix the link
    </a>
    <a href="/" type="button" class="btn btn-dark">
      <i class="fas fa-home"></i>
      start again
    </a>
  </div>
{% endblock %}
