<a
  class="btn col-lg-3 {{ item['class'] or 'btn-light' }}"
  href="{{ item['link'] }}"
  {% if 'https:' in item['link'] %}target="_blank"{% endif %}
>
  {% if item['icon'] %}
    <i class="{{ item['icon'] }}"></i>
  {% endif %}
  {{ item['name'] }}
</a>
