<div class="card col-sm-12 col-md-6 col-lg-4 {{ item['class'] }}">
  <div class="card-body">
    {% if 'image' in item %}
      <img class="card-img-top" src="./assets/{{ item['image'] }}" />
    {% endif %}


    <h5 class="card-title">

      {% if 'lang' in item %}
        {% for lang in ('eng', 'rus') %}
          {% if lang in item['lang'] %}
            <img src="./assets/{{ lang }}.svg" class="lang" />
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if item['link'] %}
        {% if 'orsinium-archive' in item['link'] or item['archived'] %}
          <i class="text-muted fas fa-archive" title="archived"></i>
        {% elif 'orsinium-labs' in item['link'] %}
          <i class="text-muted fas fa-flask" title="experimental"></i>
        {% endif %}
        <a href="{{ item['link'] }}" target="_blank">{{ item['name'] }}</a>
      {% else %}
        {{ item['name'] }}
      {% endif %}
    </h5>

    {% if 'tags' in item or (item['link'] in stars and stars[item['link']] > 20) %}
      <h6 class="card-subtitle text-muted">

        {% if item['link'] in stars and stars[item['link']] > 20 %}
          <i class="fas fa-star"></i>
          {{ stars[item['link']] }}
        {% endif %}

        {% for tag in item['tags'] %}
          #{{ tag }}
        {% endfor %}

      </h6>
    {% endif %}

    {% if 'info' in item %}
      <p class="card-text">
        <div class="card-bg"><img src="{{ item['bg'] }}" /></div>
        {% markdown %}
          {{ item['info'] }}
        {% endmarkdown %}
      </p>
    {% endif %}

    {% if item['author'] %}
      <p style="margin-bottom: 0px">
        <i class="far fa-user"></i>
        {{ item['author'] }}
      </p>
    {% endif %}

    {% if item['date'] %}
      <p>
        <i class="far fa-calendar-alt"></i>
        {{ item['date'] }}
      </p>
    {% endif %}

  </div>
  {% if 'links' in item %}
    <div class="card-footer bg-transparent">
      {% for link in item['links'] %}
        <a href="{{ link }}" class="btn btn-light" target="_blank">
          {% for button in buttons %}
            {% if button['trigger'] in link %}
              <i class="{{ button['icon'] }}"></i>
              {{ button['text'] }}
              {% break %}
            {% endif %}
          {% endfor %}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
