<div
  class="card col {{ item['class'] }}"
  x-data="{ tag_ids: {{ item.tag_ids }} }"
  x-show="all_enabled(tag_ids)"
>
  <div class="card-body">
    {% if 'image' in item %}
      <img class="card-img-top" src="./assets/{{ item['image'] }}" />
    {% endif %}


    <h5 class="card-title">

      {% if 'lang' in item %}
        {% for lang in ('eng', 'rus') %}
          {% if lang in item['lang'] %}
            <img src="./assets/{{ lang }}.svg" class="lang" />
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if item['link'] %}
        {% if item.archived %}
          <i class="text-muted fas fa-archive" title="archived"></i>
        {% elif item.stale %}
          <i class="text-muted fas fa-snowflake" title="stale"></i>
        {% elif item.experimental %}
          <i class="text-muted fas fa-flask" title="experimental"></i>
        {% endif %}
        <a href="{{ item['link'] }}" target="_blank">{{ item.name }}</a>
      {% else %}
        {{ item.name }}
      {% endif %}
    </h5>

    {% if item.tags or item.popular %}
      <h6 class="card-subtitle text-muted">

        {% if item.popular %}
          <i class="fas fa-star"></i> {{ item.stars }}
        {% endif %}

        {% for tag in item.tags %}
          {% if tag.show %}
            #{{ tag.name }}
          {% endif %}
        {% endfor %}

      </h6>
    {% endif %}


    {% set info = item.get('info', '').rstrip() or meta.get(item['link'])['description'] %}
    {% if info %}
      {% if info[-1] not in '.?!' %}
        {% set info = info + '.' %}
      {% endif %}
      <p class="card-text">
        <div class="card-bg"><img src="{{ item['bg'] }}" /></div>
        {% markdown %}
          {{ info }}
        {% endmarkdown %}
      </p>
    {% endif %}

    {% if item['author'] %}
      <p style="margin-bottom: 0px">
        <i class="far fa-user"></i>
        {{ item['author'] }}
      </p>
    {% endif %}

    {% set date = meta.get(item['link'])['updated_at'] or item['date'] %}
    {% if date %}
      <p>
        <i class="far fa-calendar-alt"></i>
        {{ date }}
      </p>
    {% endif %}

  </div>
  {% if 'links' in item %}
    <div class="card-footer bg-transparent">
      {% for link in item['links'] %}
        <a href="{{ link }}" class="btn btn-light" target="_blank">
          {% for button in buttons %}
            {% if button['trigger'] in link %}
              <i class="{{ button['icon'] }}"></i>
              {{ button['text'] }}
              {% break %}
            {% endif %}
          {% endfor %}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
