<div class="card col-sm-12 col-md-6 col-lg-4 {{ item['class'] }}">
  <div class="card-body">
    {% if 'image' in item %}
      <img class="card-img-top" src="./assets/{{ item['image'] }}" />
    {% endif %}


    <h5 class="card-title">

      {% if 'lang' in item %}
        {% for lang in ('eng', 'rus') %}
          {% if lang in item['lang'] %}
            <img src="./assets/{{ lang }}.svg" class="lang" />
          {% endif %}
        {% endfor %}
      {% endif %}

      {% set name = item['name'] %}
      {% if item['link'] %}
        {% if not name %}
          {% set name = item['link'].split('/')[-1] %}
        {% endif %}
        {% set updated_at = meta.get(item['link'], {}).get('updated_at', '') %}
        {% if meta.get(item['link'])['archived'] %}
          <i class="text-muted fas fa-archive" title="archived"></i>
        {% elif updated_at and updated_at < threshold %}
          <i class="text-muted fas fa-snowflake" title="stale"></i>
        {% elif 'orsinium-labs' in item['link'] %}
          <i class="text-muted fas fa-flask" title="experimental"></i>
        {% endif %}
        <a href="{{ item['link'] }}" target="_blank">{{ name }}</a>
      {% else %}
        {{ name }}
      {% endif %}
    </h5>

    {% set stars = meta.get(item['link'])['stars'] or 0 %}
    {% if 'tags' in item or stars > 20 %}
      <h6 class="card-subtitle text-muted">

        {% if stars > 20 %}
          <i class="fas fa-star"></i> {{ stars }}
        {% endif %}

        {% for tag in item['tags'] %}
          #{{ tag }}
        {% endfor %}

      </h6>
    {% endif %}


    {% set info = item.get('info', '').rstrip() or meta.get(item['link'])['description'] %}
    {% if info %}
      {% if info[-1] != '.' %}
        {% set info = info + '.' %}
      {% endif %}
      <p class="card-text">
        <div class="card-bg"><img src="{{ item['bg'] }}" /></div>
        {% markdown %}
          {{ info }}
        {% endmarkdown %}
      </p>
    {% endif %}

    {% if item['author'] %}
      <p style="margin-bottom: 0px">
        <i class="far fa-user"></i>
        {{ item['author'] }}
      </p>
    {% endif %}

    {% set date = meta.get(item['link'])['updated_at'] or item['date'] %}
    {% if date %}
      <p>
        <i class="far fa-calendar-alt"></i>
        {{ date }}
      </p>
    {% endif %}

  </div>
  {% if 'links' in item %}
    <div class="card-footer bg-transparent">
      {% for link in item['links'] %}
        <a href="{{ link }}" class="btn btn-light" target="_blank">
          {% for button in buttons %}
            {% if button['trigger'] in link %}
              <i class="{{ button['icon'] }}"></i>
              {{ button['text'] }}
              {% break %}
            {% endif %}
          {% endfor %}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
