<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Hi, I'm Gram">
    <meta name="keywords" content="developer, portfolio, python, golang, go, cv, resume, security, amsterdam">
    <meta name="author" content="Gram (@orsinium)">
    <title>Hi, I'm Gram, there is my CV</title>
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/icons/style.css">

    <style>
      .work img {
        max-width: 100%;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Hi, I'm Gram</h1>
    	<div class="row">
    		<div class="col-md-6">
          <ul class="list-group">
            {% for point in index['points'] %}
              <li class="list-group-item">
                <i class="{{ point['icon'] }} fa-fw"></i>
                {{ point['text'] }}
              </li>
            {% endfor %}
          </ul>
    		</div>
    		<div class="col-md-6">
          <ul class="list-group">
            {% for item in index['links'] %}
              {% if 'cv' in item['pages'] %}
                <li class="list-group-item">
                  <i class="text-muted {{ item['icon'] }}"></i>
                  <a href="{{ item['link'] }}" target="_blank">
                    {{ item['short'] }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
    		</div>
    	</div>

      <hr/>
      <h2>Experience</h2>
    	<div class="row work">
        {% for item in work[:4] %}
      		<div class="col-md-1 d-print-none">
            <img src="./assets/{{ item['image'] }}" />
      		</div>
      		<div class="col-md-3">
            <h4>{{ item['name'] }}</h4>
            <p>{{ item['date'] }}</p>
      		</div>
      		<div class="col-md-8">
            <ul>
              {% for point in item['points'] %}
                <li>{{ point }}</li>
              {% endfor %}
            </ul>
      		</div>
        {% endfor %}
    	</div>

      <hr/>
      <h2>Projects</h2>
      <div class="row">
        {% for item in projects %}
          {% if item['cv'] %}
            <div class="col-md-4">
              <h4>
                <a href="{{ item['link'] }}" target="_blank">
                  {{ item.name }}
                </a>
              </h4>
              <p>{{ item.info }}</p>
            </div>
          {% endif %}
        {% endfor %}
        <div class="col-md-4">
          <h4>More!</h4>
          <p>
            I have {{ projects.oss_count }} Open Source projects. Check them out at
            <a href="https://orsinium.dev/projects.html">orsinium.dev/projects.html</a>.
          </p>
        </div>
      </div>

      <hr style="page-break-after: always"/>
      {% for group in skills[:2] %}
        <h2>{{ group['name'][2:] }}</h2>
      	<div class="row">
          {% for item in group['content'] %}
        		<div class="col-md-4">
              <h4>
                {% if 'mn' in item['icon'] %}
                  <i class="text-muted icon-{{ item['icon']['mn'] }}"></i>
                {% elif 'fa' in item['icon'] %}
                  <i class="text-muted {{ item['icon']['fa'] }}"></i>
                {% endif %}
                {{ item['name'] }}
              </h4>
              <p>
                {% markdown %}
                  {{ item['info'] }}
                {% endmarkdown %}
              </p>
        		</div>
          {% endfor %}
      	</div>
      {% endfor %}

      <h2 style="text-align: center">
        <i class="far fa-heart"></i>
      </h2>

    </div>
  </body>
</html>
