{% extends "base.html.j2" %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-top: 10px">


      <aside class="col">
        <div class="row row-cols-md-2 g-2">
          {% for item in items['links'] %}
            {% if 'home' in item['pages'] %}
              <div class="col text-left">
                <a class="btn btn-dark" style="width: 100%" href="{{ item['link'] }}">
                  <i class="{{ item['icon'] }}"></i>
                  {{ item['name'] }}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </aside>

      <div class="col-md-6">
        <ul class="list-group">
          {% for point in items['points'] %}
            <li class="list-group-item">{{ point }}</li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
{% endblock %}
