{% extends "base.html.j2" %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for item in items %}
        <a class="btn col-lg-4 btn-light" href="{{ item['link'] }}" target="=_blank">
          <i class="{{ item['icon'] }}"></i>
          {{ item['name'] }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
