<div class="card col-sm-12 col-md-6 col-lg-4 bg-light">
  <div class="card-body">
    {% if 'image' in item %}
      <img class="card-img-top" src="./assets/{{ item['image'] }}" />
    {% endif %}

    <h5 class="card-title">
      {% if item['cert'] %}
        <a href="{{ item['cert'] }}" title="see certificate" target="_blank"><i class="fas fa-check"></i></a>
      {% endif %}
      {% if 'mn' in item['icon'] %}
        <i class="text-muted icon-{{ item['icon']['mn'] }}"></i>
      {% elif 'fa' in item['icon'] %}
        <i class="text-muted {{ item['icon']['fa'] }}"></i>
      {% endif %}
      {{ item['name'] }}
    </h5>

    {% if 'info' in item %}
      <p class="card-text">
        {% markdown %}
          {{ item['info'] }}
        {% endmarkdown %}
      </p>
    {% endif %}

  </div>

  {% if 'links' in item %}
    <div class="card-footer bg-transparent">
      {% for link in item['links'] %}
        <a href="{{ link }}" class="btn btn-light" target="_blank">
          {% for button in buttons %}
            {% if button['trigger'] in link %}
              <i class="{{ button['icon'] }}"></i>
              {{ button['text'] }}
              {% break %}
            {% endif %}
          {% endfor %}
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
