{% extends "base.html.j2" %}

{% block content %}
  <div class="container">
    <h1 id="Projects">Projects</h1>
    <div
      class="row"
      x-data="{
        enabled_tags: [],
        all_enabled(tag_ids) {
          if (this.enabled_tags.length == 0) {
            return true
          }
          if (tag_ids.length == 0) {
            return false
          }
          return this.enabled_tags.every(t => tag_ids.includes(t))
        }
      }"
    >
      <form class="col-sm-12 col-md-3 col-lg-2">
        {% for tag in items.tags %}
          {% if tag.count > 1 %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{ tag.id }}" id="{{ tag.id }}" x-model="enabled_tags">
              <label class="form-check-label" for="{{ tag.id }}">
                {% if tag.icon_fa %}
                  <i class="{{ tag.icon_fa }} fa-fw"></i>
                {% endif %}
                {{ tag.name }} ({{ tag.count }})
              </label>
            </div>
          {% endif %}
        {% endfor %}
      </form>
      <div class="col">
        <div class="row row-cols-sm-1 row-cols-lg-2 row-cols-xl-3 g-2">
          {% for item in items %}
            {% include "card.html.j2" with context %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
