<div class="card col-sm">
  <div class="card-body">
    <h5 class="card-title">{{ item['name'] }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">github.com</h6>
    <p class="card-text">{{ item['info'] }}</p>
    <a href="{{ item['link'] }}" class="card-link" target="_blank">
      explore
    </a>
  </div>
</div>
