<div class="card col-sm-12 col-md-6 col-lg-4">
  <div class="card-body">
    <h5 class="card-title">{{ item['name'] }}</h5>

    {% if 'tags' in item %}
      <h6 class="card-subtitle mb-2 text-muted">
        {% for tag in item['tags'] %}
          #{{ tag }}
        {% endfor %}
        </h6>
    {% endif %}

    {% if 'info' in item %}
      <p class="card-text">
        {{ item['info'] }}
      </p>
    {% endif %}

    {% if 'link' in item %}
      <a href="{{ item['link'] }}" class="card-link btn btn-primary" target="_blank">
        {% if '/pull/' in item['link'] %}
          <i class="fab fa-github"></i>
          pull request
        {% elif 'github.com' in item['link'] %}
          <i class="fab fa-github"></i>
          repository
        {% elif 't.me/' in item['link'] %}
          <i class="fab fa-telegram"></i>
          channel
        {% elif 'youtu.be/' in item['link'] %}
          <i class="fab fa-youtube"></i>
          video
        {% else %}
          <i class="fab fa-info-circle"></i>
          info
        {% endif %}
      </a>
    {% endif %}
  </div>
</div>
