<div class="card col-sm-12 col-md-6 col-lg-4">
  <div class="card-body">
    <h5 class="card-title">{{ item['name'] }}</h5>

    {% if 'tags' in item %}
      <h6 class="card-subtitle text-muted">
        {% for tag in item['tags'] %}
          #{{ tag }}
        {% endfor %}
        </h6>
    {% endif %}

    {% if 'info' in item %}
      <p class="card-text">
        {{ item['info'] }}
      </p>
    {% endif %}

    {% for link in item['links'] %}
      <a href="{{ link }}" class="card-link btn btn-light" target="_blank">
        {% if '/pull/' in link %}
          <i class="fab fa-github"></i>
          pull request
        {% elif 'github.com' in link %}
          <i class="fab fa-github"></i>
          repository
        {% elif '/itgram_channel/' in link %}
          <i class="fab fa-telegram"></i>
          post
        {% elif 't.me/' in link %}
          <i class="fab fa-telegram"></i>
          channel
        {% elif 'youtu.be/' in link %}
          <i class="fab fa-youtube"></i>
          video
        {% elif 'canva.com/' in link %}
          <i class="fas fa-eye"></i>
          slides
        {% elif 'life4web.ru/' in link %}
          <i class="fas fa-info-circle"></i>
          info
        {% else %}
          <i class="fas fa-globe-americas"></i>
          page
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>
